.user-container {
  display: flex;
}

.navigation {
  display: flex;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: center;
}

/* body {
  background-image: url(../../assets/fondo.svg);
  background-size: 1000px;
} */
